@import "../../../styles/variables";

.logo {
  font-size: 38px;
  padding: 0;
  font-weight: 800;

  &.primary {
    color: #fff;

    .icon {
      color: $yellow-color;
    }
  }

  &.secondary {
    color: $darkred-color;

    .icon {
      color: #fff;
    }
  }

  .globe {

  }
}
