@import "../../../styles/variables";

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    font-weight: 600;
    font-size: 16px;
    color: $title-color;
    margin-bottom: 5px;
  }
}

.input {
  outline: none;
  height: 50px;
  width: 100%;
  padding: 12px 15px 12px 12px;
  border-radius: 6px;
  border: 1px solid transparent;
  background: $lightgray-color;
  font-size: 15px;
  line-height: 25px;
  color: #8C8C8C;

  &.error {
    border: 1px solid $darkred-color;
  }
}

.errorMsg {
  position: absolute;
  bottom: 53px;
  right: 0;
  padding: 4px 10px;
  z-index: 20;
  font-size: 16px;
  color: $darkred-color;
  background: #fff;
  border-radius: 6px;
  border: 1px solid $darkred-color;
  background: $lightgray-color;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: $lightgray-color url("../../../assets/icons/date.png") 95% 50% no-repeat;
}
