$title-color: #141414;
$ebony-clay-color: #233142;
$darkblue-color: #006989;
$lightblue-color: #E5F9FF;
$darkred-color: #DB162F;
$lightred-color: #f9e3e6;
$gray-color: #8C8C8C;
$footer-text-color: #cecece;
$lightgray-color: #F2F2F2;
$yellow-color: #F2C532;
