@import "variables";

.swiper-pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
  margin-right: 80px;
  
  .swiper-pagination-bullet {
    cursor: pointer;
    display: block;
    width: 12px;
    height: 12px;
    background: #fff;
    opacity: 1;
    margin: 5px;
  }

  .swiper-pagination-bullet-active {
    background: $yellow-color;
  }
}
