@import "../../styles/variables";

.slider {

  background: $lightgray-color;

  .slide {
    min-height: calc(100vh - 43px);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .slideInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
  }

  .slideSupTitle {
    color: $darkblue-color;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 16px;
  }

  .slideTitle {
    font-size: 55px;
    line-height: 65px;
    font-weight: 400;
    color: $title-color;
    margin-bottom: 10px;

    span {
      font-weight: 700;
    }
  }

  .slideDesc {
    color: #8C8C8C;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .slideImg {
    height: 100%;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
  }
}

.gallery {
  background: $lightgray-color;
  padding: 48px 0;

  .content {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .title {
    padding-top: 48px;
    margin-bottom: 48px;
  }

  .galleryCardWrapper {
    border-radius: 6px;
  }

  .galleryCard {
    position: relative;

    &:after {
      z-index: 5;
      display: block;
      position: absolute;
      content: '';
      bottom: 0;
      height: 40%;
      width: 100%;
      border-radius: 6px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
    }
  }

  .cardImg {
    width: 100%;

    a {
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
  }

  .cardTitle {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: auto;
    width: 100%;
    height: 40%;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h4 {
      font-size: 24px;
      line-height: 30px;
      color: #fff;
      font-weight: 700;
    }

    h6 {
      font-size: 16px;
      line-height: 25px;
      color: #fff;
      opacity: 0.9;
    }

    .cardTitlePrice {
      color: $yellow-color;
    }
  }
}

.banner {
  padding: 50px;

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .bannerCard {
    width: 25%;
    padding: 15px;

    .cardIcon {
      width: 74px;
      height: 74px;
      border-radius: 50%;
      background: $lightred-color;
      text-align: center;
      color: $darkred-color;
      font-size: 25px;
      line-height: 74px;
      transition: .2s all;

      margin-bottom: 20px;
    }

    &:hover .cardIcon {
      background: $lightblue-color;
      color: $darkblue-color;
    }

    h5 {
      margin-bottom: 8px;

      a {
        color: $ebony-clay-color;
        font-size: 20px;
        line-height: 30px;
        font-weight: 700;
        transition: .2s all;

        &:hover {
          color: $darkred-color;
        }
      }
    }

    p {
      color: $gray-color;
    }
  }
}

.subscribeForm {
  padding: 90px 0;
  position: relative;
  background-image: url("../../assets/img/bgSubscribeForm.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;

  min-height: 400px;

  &:before {
    content: "";
    background: rgba(8, 67, 76, 0.74);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .content {
    max-width: 600px;
    margin-left: auto;
    color: #fff;
  }

  .title {
    margin-bottom: 10px;
  }

  .supDesc {
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    margin-bottom: 14px;
  }

  .subDesc {
    opacity: 0.8;
    font-style: normal;
    font-size: 15px;
    line-height: 26px;
    color: #fff;
    margin-top: 15px;
  }

  .formContent {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }

  .formInput {
    width: 70%;

    input {
      border-radius: 6px 0 0 6px;
    }
  }

  .formBtn {
    width: 30%;

    button {
      border-radius: 0 6px 6px 0;
      background: $darkred-color;

      &:hover {
        background: $darkblue-color;
      }
    }
  }
}
