.message {
  position: fixed;
  top: 10px;
  left: 50%;
  max-width: 250px;
  padding: 10px 15px;
  border: 2px solid #32de29;
  color: #141414;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.3);
  transform: translate(-50%, -100px);
  transition: .3s;
  z-index: 999;

  &.active {
    transform: translate(-50%, 0);
  }
}
