@import "../../../styles/variables";

.wrapper {
  text-transform: capitalize;

  &.primary {
    .supTitle {
      color: $darkblue-color;
    }
    .title {
      color: $title-color;
    }
  }

  &.secondary {
    .supTitle {
      color: $yellow-color;
    }
    .title {
      color: #fff;
      font-family: 'Open Sans', sans-serif;
    }
  }

  .supTitle {
    position: relative;
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    padding-left: 70px;

    &.primary {
      color: $darkblue-color;
    }

    &.secondary {
      color: $yellow-color;
    }

    &:before {
      position: absolute;
      display: block;
      content: '';
      width: 55px;
      height: 3px;
      background: $darkred-color;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .title {
    font-size: 36px;
    line-height: 46px;
    font-family: 'Open Sans', sans-serif;
  }
}
