@import "../../styles/variables";

.header {
  position: relative;
  width: 100%;
  background: $darkred-color;
  padding: 10px;
  z-index: 900;

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    color: #fff;
    font-size: 38px;
    padding: 0;
    font-weight: 800;

    .yellow {
      color: $yellow-color;
    }
  }
}

.burgerBtn {
  cursor: pointer;
  border: none;
  outline: none;
  width: 50px;
  height: 45px;
  border-radius: 4px;
  padding: 7px 10px;
  background: #fff url("../../assets/icons/burger.svg") 50% 50% no-repeat;

  display: none;

  @media (max-width: 991px) {
    & {
      display: block;
    }
  }
}

.navBarDesc {
  display: block;

  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    & > li {
      margin: 0 4px;

      a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        padding: 8px 20px;
        font-size: 14px;
        font-weight: 700;
        transition: .3s;

        &:hover, &:focus {
          color: $yellow-color;
        }
      }
    }
  }

  @media (max-width: 991px) {
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s all;

    &.active {
      transform: scaleY(1);
    }

    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    background: $darkred-color;
    z-index: -1;

    ul {
      flex-direction: column;
      background: #fff;
      margin: 0 auto 10px;
      border-radius: 6px;
      padding: 10px 0;

      @media (max-width: 576px) {
        margin: 10px 25px;
      }

      @media (min-width: 576px) {
        & {
          max-width: 540px;
          padding: 0;
        }
      }

      @media (min-width: 767.98px) {
        & {
          max-width: 720px;
        }
      }

      @media (min-width: 991.98px) {
        & {
          max-width: 960px;
        }
      }

      li {
        a {
          display: block;
          color: #252b33;
          padding: 0.6em 1em;

          &:hover {
            color: $darkred-color;
          }
        }
      }
    }
  }
}
